body { background: #eb8639; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 35px; display: flex; }
.block-uploader-0 { color: #f26d1a; font-size: 15px; margin-bottom: 5px; }
.block-cache-1 { color: #3c05d3; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #56c00f; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #87b49f; font-size: 21px; margin-bottom: 5px; }
.block-cart-4 { color: #25fe7; font-size: 18px; margin-bottom: 5px; }